{% extends 'base.html.twig' %}

{% block title %}Calendar home{% endblock %}

{% block stylesheets %}
    <style>
        #calendar{
            width: 80%;
            height: 80vh;
            margin: auto;
        }
    </style>
{% endblock %}

{% block body %}
{% if app.user %}
    <h1>Calendar {{ app.user.email }}</h1>
{% else %}
    <h1>Calendar</h1>
{% endif %}

    <div id="calendar"></div>
{% endblock %}

{% block javascripts %}
    {# Permet d'inclure le javascript du template parent (de base.html.twig) dans le cas où en a besoin sur toute les pages #}
    {{ parent() }}

    {# Ajout de Full Calendar #}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js" integrity="sha256-alsi6DkexWIdeVDEct5s7cnqsWgOqsh2ihuIZbU6H3I=" crossorigin="anonymous"></script>

    {# Affichage d'un calendrier #}
    <script>
        window.onload = () => {
            let calendarElt = document.querySelector("#calendar");

            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'dayGridMonth',
                locale: 'locale',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek,timeGridDay,list',
                },
                events: {{ data|raw }}
            })
            
            calendar.render();
        };
    </script>
{% endblock  %}